[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Jiotty Photos Uploader
Comment=Upload your photos and movies into your Google Photos library and sort them into albums
Exec=/opt/jiottyphotosuploader/bin/JiottyPhotosUploader
Icon=/opt/jiottyphotosuploader/lib/JiottyPhotosUploader.png
Categories=GTK;GNOME;Utility;
Terminal=false