.root {
    -fx-accent: #1a6ee4;
    -fx-focus-color: -fx-accent;
    -fx-base: #111;
    -fx-control-inner-background: derive(-fx-base,50%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 30%);
    -fx-font-size: 14pt;
}

.progress-box {
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-border-width: 3;
}

.log-area {
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-background-radius: 5;
}

.log-area > Text {
    -fx-fill: white;
}

.success-background {
    -fx-background-color: #144220;
}

.failed-text {
    -fx-fill: red;
    -fx-text-fill: -fx-fill;
}

.failed-background {
    -fx-background-color: #4a1b18;
}

.url-bar {
    -fx-font-size: 12pt;
}

.side-note {
    -fx-font-size: 0.8em;
}

.copyable-label, .copyable-label:focused {
    -fx-background-color: transparent ;
    -fx-background-insets: 0px ;
    -fx-padding: 0;
}

.hyperlink {
    -fx-padding: 0;
}